/* Navigation Styles  */

#NavigationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
}

.nav_brand{
    cursor: pointer;
}

.nav_brand span{
    color: #D64933;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.nav_links *{
    margin: 0 1em 0 1em;
}

.nav_links *:hover{
    text-decoration: underline;
}

.nav_button{
    cursor: pointer;
    border: 1px solid #D64933;
    padding: .5em 1em .5em 1em;
    border-radius: .25rem;
    color: #D64933;
    transition: all 300ms ease-in-out;
}

.nav_button:hover{
    color: #FFE8D4;
    background-color: #D64933;
}