@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #FFE8D4;
  /* font-family: "Roboto Slab", serif; */
  /* font-family: "Arsenal SC", sans-serif; */
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar  */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFE8D4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFE8D4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
